<plugin name='rest-doc-plugin' version='0.1' grailsVersion='2.0 &gt; *'>
  <author>José J. García</author>
  <authorEmail>gruposp2p@gmail.com</authorEmail>
  <title>Rest Dococumentation Plugin</title>
  <description>		Plugin that generate REST based docs from annotated controller actions.</description>
  <documentation>http://grails.org/plugin/rest-doc-plugin</documentation>
  <type>RestDocPluginGrailsPlugin</type>
  <resources>
    <resource>RestDocPluginUrlMappings</resource>
    <resource>org.votingsystem.plugin.restdoc.RestDocController</resource>
    <resource>org.votingsystem.plugin.RestDocumentationService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>